<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('partials/head.html') %>
</head>

<body>
    <%- include ('partials/nav.html') %>

    <div class="container-fluid banner">


    </div>

       <!-- content1-->
       <div class="content1 container text-dark py-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <p>Lorem, ipsum dolor.</p>
                <h2>Why do you only call me when you are high?</h2>
            </div>
            <div class="col-12 col-md-8">
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias porro facere
                    ea, natus aliquid
                    alias fuga at nam, velit atque iure, autem labore eligendi sit ratione maxime aspernatur. Doloribus,
                    voluptate non eum porro libero corrupti quasi temporibus soluta eos corporis. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Accusantium possimus aperiam quam in inventore officiis, corporis
                    praesentium, sunt error beatae necessitatibus rerum. Laudantium aliquid quibusdam tenetur modi
                    beatae blanditiis nemo, alias in officia, dolorum reprehenderit ratione earum consequatur, optio
                    obcaecati.</p>
                <a href="#" class="btn btn-outline-light bg-dark btn-lg">Info Here</a>
            </div>
        </div>
    </div>


    <!--Section5 Practices-->
    <div class="practices bg-dark">
        <div class="overlay pb-5 text-white">
            <div class="container mx-auto col-12 ">
                <div class="underline text-center"></div>
                <h1 class="display-4 py-3 text-center">Richo website items</h1>
            </div>
            <div class="container justify-content-center mx-auto row tabs">

                <div class="tab col-md-2 mr-1">
                    <div class="text-center">
                        <i class="fas fa-user fa-2x py-3"></i>
                        <h2>Bio</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>

                <div class="tab col-md-2">
                    <div class="text-center">
                        <i class="fas fa-record-vinyl fa-2x py-3"></i>
                        <h2>Media</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="tab col-md-2 ml-1">
                    <div class="text-center">
                        <i class="fas fa-shopping-cart fa-2x py-3"></i>
                        <h2>Buy Music</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="tab col-md-2 mr-1">
                    <div class="text-center">
                        <i class="fas fa-address-card fa-2x py-3"></i>
                        <h2>Contact</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="tab col-md-2">
                    <div class="text-center">
                        <i class="fas fa-newspaper fa-2x py-3"></i>
                        <h2>News</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--Section one About-->
    <div class="sectionone container-fluid py-4" id="contact0">
        <div class="container row p-2 mx-auto">
            <div class="col-md-4 text-center text-white d-flex justify-content-center align-items-center">
                <i class="fas fa-music fa-5x"></i></div>
            <div class="col-md-8 text-white">
                <h2 class="text-center pb-3"> Vida y Trayectoria</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit architecto magni
                    doloremque, repellat nesciunt veritatis ex debitis id similique iure! Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Nostrum sint numquam eveniet facere aperiam sit. Vero maxime sunt enim
                    qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dicta iste qui, perferendis
                    officia eius earum laudantium a. Praesentium tempora temporibus delectus molestiae laborum nihil
                    consequatur suscipit harum dolorum assumenda nobis eligendi distinctio rerum, fuga quo laboriosam
                    facilis ratione! Officia praesentium velit dignissimos aperiam, est a rem necessitatibus. Fuga,
                    pariatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ratione dolorem
                    mollitia repellat impedit perferendis aliquid doloremque minus? Labore mollitia nisi eaque voluptate
                    tempore consequuntur ullam at delectus libero facere quaerat, ab incidunt nemo laborum autem error
                    voluptas laboriosam? Dolore vero esse dolorum earum numquam dolorem, impedit animi aliquid? Sint?
                </p>
            </div>
        </div>
    </div>


 

    <%- include ('partials/footer.html') %>
</body>

</html>